body{
    --main: #1890ff;
    --mainTrans: rgba(24, 144, 255, .1);

    --border: #e6e6e6;

    --bg: white; // 主背景色
    --bgBc: #fafafa; // 底色
    --bgHover: rgba(0, 0, 0, 0.04);

    --gray: #666;
    --red: #e33232;

    .red{color: var(--red);}
}